<template>
    <div class="patrn">
        <img src="../assets/img/banner.png" alt="">
  
        <div class="modex">
            <b-button v-b-modal.modal-1 style="background-color: #131846">Logout</b-button>
            <b-modal id="modal-1" title="Logout" style="background-color: #000000" >
            <p class="my-4">Are you sure you want to logout?</p>
            </b-modal>
        </div>
        <div class="sirts">
          <input
            type="email"
            class="search shadow bg-white rounded-pill"
            id="exampleFormControlInput1"
            placeholder=" Search"
          />
          </div>
        <SIdeBar/>
        <div class="addpat1">
            <b-button v-b-modal.patmod-2 style="background-color: #131846; color:white" ><img src="../assets/img/addbook.png">Add Book</b-button>
            <b-modal id="patmod-2" title="Add Book" style="background-color: #131846; color:white" >
                <form ref="form"  @submit.stop.prevent="handleSubmit">
                    <b-form-group
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="book.name"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Author"
                    label-for="Author"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="Author"
                    v-model="book.author"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Coppies"
                    label-for="Coppies"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="Coppies"
                    v-model="book.copy"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Category"
                    label-for="cat"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="cat"
                    v-model="book.cat"
                    required
                    ></b-form-input>
                    </b-form-group>
                </form>
                <div slot="modal-footer">
                    <b-btn variant="dark" @click="$bvModal.hide('patmod-2')">Cancel</b-btn>
                    <b-btn style="background-color: #131846"  v-on:click="addbk">Add Book</b-btn>
                </div>
           </b-modal>
        </div>
        <div class="tabla">
          <table class="shadow bg-white table table-md col-sm-9">
          <thead class="head" style="background-color: #131846; color:white" >
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Copies Available</th>
              <th scope="col">Category</th>
            </tr>
          </thead>
          <tbody class="body right-border">
             <tr v-for="(book, index) in books" :key="index">
                <th scope="row"> 
                <button v-b-modal.edit-100 v-b-tooltip.hover title="Edit"><img src="../assets/img/edit.png" alt=""></button>
                <b-modal id="edit-100" title="Edit Book">
                 <form ref="form"  @submit.stop.prevent="handleSubmit">
                    <b-form-group
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="book.name"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Author"
                    label-for="Author"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="Author"
                    v-model="book.author"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Coppies"
                    label-for="Coppies"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="Coppies"
                    v-model="book.copy"
                    required
                    ></b-form-input>
                    </b-form-group>
                    <b-form-group
                    label="Category"
                    label-for="cat"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="cat"
                    v-model="book.cat"
                    required
                    ></b-form-input>
                    </b-form-group>
                </form>
                <div slot="modal-footer">
                    <b-btn variant="dark"  @click="$bvModal.hide('edit-100')">Cancel</b-btn>
                    <b-btn style="background-color: #131846" v-on:click="updit(index)">Update</b-btn>
                </div>
                </b-modal>
                <button v-b-modal.trash-100 v-b-tooltip.hover title="Delete"><img src="../assets/img/trash.png" alt=""></button>
                <b-modal id="trash-100" title="Delete Book?">
                <p class="my-4">Do you want to delete Book?</p>
                <div slot="modal-footer">
                    <b-btn variant="dark"  @click="$bvModal.hide('trash-100')">Cancel</b-btn>
                    <b-btn style="background-color: #131846" v-on:click="del(index)">Delete</b-btn>
                    
                </div>
                </b-modal>
                <button v-b-modal.modal-100 v-b-tooltip.hover title="Return"><img src="../assets/img/return-book.png" alt=""></button>
               <button v-b-modal.modal-100 v-b-tooltip.hover title="Update"><img src="../assets/img/update.png"
                alt=""></button>
                <button v-b-modal.modal-200  v-b-tooltip.hover title="Borrow"><img src="../assets/img/borrow-book.png" alt=""></button>
               
                </th> 
              <td>{{book.name}}</td>
              <td>{{book.author}}</td>
              <td>{{book.copy}}</td>
              <td>{{book.cat}}</td>
            </tr>
          </tbody>
          </table>
        </div>   
    </div>
</template>

<script>
import SIdeBar from "../components/SIdeBar"
    export default {
        components: {
            SIdeBar
        },
        data(){
            return{
                book:{name:'',author:'',copy:'',cat:''},
                books:[{name:"World Atlas", author:"Angelito Domingo", copy:"4", cat:"Study Guide"}
                ]
            }
        },
   
        methods:{
            addbk(){    
                    this.books.unshift({...this.book})
                    this.$bvModal.hide("patmod-2");
                    this.book.name="",this.book.author="",this.book.copy="",this.book.cat="";
            },
            del(index) {
                this.index=index;
                this.books.splice(index);
                this.$bvModal.hide("trash-100")
            },
            updit(id){
                 this.books.values(this.books.indexOf(id));
                this.$bvModal.hide("edit-100");
                this.book.name="",this.book.author="",this.book.copy="",this.book.cat="";
            }
                
        }
    }
</script> 

<style>

</style>