<template>
<<<<<<< HEAD
    <div>
        <img src="../assets/img/banner.png" alt="">
        <div class="dash">
             <h4>STATUS</h4>
                <br><br><br>
                   <div class="chart">
                       <div class="row">
                           <div class="col-6 syart">
                               <canvas id="myChart" class="bar" width="60" height="35"></canvas>
                            </div>
                            <div class="col-6 chart">
                               <canvas id="myChart2" class="pie" width="60" height="35"></canvas>
                            </div>
                       </div>
                 </div>
            </div>
        <div class="modex">
            <b-button v-b-modal.modal-1 style="background-color: #131846">Logout</b-button>
            <b-modal id="modal-1" title="Logout">
            <p class="my-4">Are you sure you want to logout?</p>
            </b-modal>
        </div>
        <SIdeBar/>
    </div>
</template>

<script>
import SIdeBar from "../components/SIdeBar"    
import Chart from "chart.js" 
    export default {
        name: "Dashboard",
        components:{
            SIdeBar,         
        },
        mounted() {
    var ctx1 = document.getElementById("myChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: ["IT","SCIENCE","MATH"],
        datasets: [
          {
            label: "IT",
            backgroundColor: "#262626",
            data: [43,],
          },
          {
            label: "Science",
            backgroundColor: "#7F7F7F",
            data: [0, 35, 0,],
          },
          {
            label: "Math",
            backgroundColor: "#D9D9D9",
            data: [0,0, 25],
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                max: 50,
                display: false,
              },
            },
          ],
          xAxes: [
            {
              ticks: {
                max: 70,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },

        title: {
          display: true,
          text: "Books Tally",
          fontSize: "18",
          fontFamily: "kg",
        },
        legend: {
          position: "bottom",
          align: "center",
        },
        gridLines: {
          display: false,
        },
      },
    }); 
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    new Chart(ctx2, {
      type: "pie",
      data: {
        labels: ["IT", "SCIENCE", "MATH"],
        datasets: [
          {
            
            backgroundColor: ["#67b7dc", "#fdd400", "#84b761"],
            data: [4.3, 3.5, 2.5],
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                max: 70,
                display: false,
              },
              gridLines: {
                display: false,
              },
            },
          ],
        },
        title: {
          display: true,
          text: "Popular Book Category",
          fontSize: "18",
          fontFamily: "kg",
        },
        legend: {
          position: "bottom",
          align: "center",
        },
        gridLines: {
          display: false,
        },
      },
    });
  },
    }
    
    
</script>

<style>
@import "../assets/css/style.css";
</style>
=======
  <div>

  </div>
</template>
<script>
export default {};
</script>
>>>>>>> e2c659a79ea0fb2ef5dea58da2bd241726a320b2
