<template>
  <div class="mains">
  
    <b-jumbotron text-variant="white" border-color="#ef8833" style="background-color:#222222">
      <form>
        <h3 style="color: #ef8833;  text-align: center;" >Student Information System</h3>
        <div class="form-group">
          <label style="color: #ef8833">Email address</label>
          <input
            type="email"
            class="form-control form-control-lg"
            v-model="email"
          />
        </div>
        <div class="form-group">
          <label style="color: #ef8833">Password</label>
          <input
            type="password"
            class="form-control form-control-lg"
            v-model="password"
          />
        </div>
        <button
          @click="signup"
          class="btn btn-lg btn-block"
          style="background-color: #ef8833"
        >
          Sign Up
        </button>
        <p class="signup" style="color: #ef8833;">
          <router-link to="/">Login</router-link>
        </p>
      </form>
    </b-jumbotron>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  name: "Signup",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    signup: function () {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          (user) => {
            console.log(user.data);
          },
          (err) => {
            alert(err);
          }
        );
    },
  },
};
</script>

<style>
</style>