<template>
<<<<<<< HEAD
  <div id="app">
    
    <router-view/>
  </div>
</template>

<style>

=======
  <div id="py-4">
    <router-view />
  </div>
</template>

<script>
export default {
 
};
</script>

<style>
>>>>>>> e2c659a79ea0fb2ef5dea58da2bd241726a320b2
</style>
