@font-face{
  src: url(../font/SketchCollege.ttf);
  font-family: college;
}
@font-face{
  src: url(../font/KGHAPPYSolid.ttf);
  font-family: kg;
}
.halu{
    font-family: college;
}
.sidebar {
  margin-top: 1in;
    height: 100%;
    width: 3in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131846;;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 15px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    font-family: kg;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {

    margin-left: 3in;
    padding: 0px 10px;
    font-family: kg;
  }
  .mains {
    margin-left: 3in;
    padding: 0px 10px;
    font-family: kg;
  }
  .dash{
    text-align: center;
     margin-left: 3in;
    padding: 0px 10px;
    font-family: kg;
  }
  .dashing{
    text-align: center;
    margin-left: 3in;
   padding: 0px 10px;
   margin-top: 1in;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
.btn-addpatron{
  background-color: #131846;
  color:white;
}
.btn{
  background-color: #131846;
  color:white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: kg;
}
.forme{
  position: absolute;
  top: 110px;
  right: 15px;
  font-family: kg;
}
  .lib{
    font-family: kg;
    color: white;
    text-align: center;
    margin-top:-21px ;
    font-size: 15px;
  }
  .jumbotron{
    height: 76.8px;
  }
  .btnss{
    background-color: #131846;
  }
  #chartdiv {
    width: 50%;
    height: 500px;
    float: right;
  }
  
  #barchart {
    width: 50%;
    height: 500px;
    float: left;
  }
  
  