<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Utap University Library</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/pie.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/serial.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <link rel="stylesheet" href="files/assets/style.css">
        <link rel="shortcut icon" href="files/images/logo.png"/>
    </head>
    <body>
      <div class="sidebar">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active" style="left: 0ch;" href="index.html"><img src="files/images/dash2.png" alt="">  Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="patron.html"><img src="files/images/add.png" alt="">  Patron Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="book.html"><img src="files/images/book.png" alt="">  Book Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="settingss.html"><img src="files/images/set2.png" alt="">  Settings</a>
          </li>
        </ul>
      </div>
      <img src="files/images/banner.png" alt="">
      <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          log out
        </button>
        <div class="modal" id="myModal">
          <div>
            <b-button v-b-modal.modal-prevent-closing>Open Modal</b-button>
            <div class="mt-3">
              Submitted Names:
              <div v-if="submittedNames.length === 0">--</div>
              <ul v-else class="mb-0 pl-3">
                <li v-for="name in submittedNames">{{ name }}</li>
                      </ul>
                    </div>
                
                    <b-modal
                      id="modal-prevent-closing"
                      ref="modal"
                      title="Submit Your Name"
                      @show="resetModal"
                      @hidden="resetModal"
                      @ok="handleOk"
                    >
                      <form ref="form" @submit.stop.prevent="handleSubmit">
                        <b-form-group
                          :state="nameState"
                          label="Name"
                          label-for="name-input"
                          invalid-feedback="Name is required"
                        >
                          <b-form-input
                            id="name-input"
                            v-model="name"
                            :state="nameState"
                            required
                          ></b-form-input>
                        </b-form-group>
                      </form>
                    </b-modal>
                  </div>
            </div>
        </div>
        <div class="dash">
            <h4>STATUS</h4>
            <div id="chartdiv"></div>
            <div id="barchart"></div>
        </div>
        <script src="files/assets/chrt.js"></script>
    </body>
</html>