<<<<<<< HEAD
@font-face{
  src: url(../font/SketchCollege.ttf);
  font-family: college;
}
@font-face{
  src: url(../font/KGHAPPYSolid.ttf);
  font-family: kg;
}
.halu{
    font-family: college;
}
.side {
  font-family: kg;
  color: #000000;
  margin-top: 1in;
    height: 100%;
    width: 3in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131846;;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 15px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    font-family: kg;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {

    margin-left: 3in;
    padding: 0px 10px;
    font-family: kg;
  }
  .addpat1 {
    position: absolute;
    top:95px;
    left: 3in;
    font-family: kg;
  }
  .dash{
    text-align: center;
     margin-left: 3in;
    font-family: kg;
  }
  .dashing{
    text-align: center;
    margin-left: 3in;
   padding: 0px 10px;
   margin-top: 1in;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
.btn-addpatron{
  background-color: #131846;
  color:white;
}
.modex{
  font-family: kg !important;
  position: absolute;
  top:5px;
  right: 15px;
  background-color: #131846;
  
}
.forme{
  position: absolute;
  top: 110px;
  right: 15px;
  font-family: kg;
}
  .lib{
    font-family: kg;
    color: white;
    text-align: center;
    margin-top:-21px ;
    font-size: 15px;
  }
  .jumbotron{
    height: 76.8px;
  }
  .btnss{
    background-color: #131846;
  }
  #chartdiv {
    width: 50%;
    height: 500px;
    float: right;
  }
  
  #barchart {
    width: 50%;
    height: 500px;
    float: left;
  }
  
  .table{
    position: absolute;
    top:100px;
    left:288px;
    font-family: kg;
  }
  .tabla table{
    margin-left: 20px;
    font-family: kg;
    margin-top: 60px
  }
#addpat1{
    font-family: kg;
  }
  .sirts{
    font-family: kg !important;
    position: absolute;
    top:100px;
    right: 15px;
  }
  .syart{
    width: 50%;
    height: 500px;
  }

  .w-100 table{
    margin-top: 60px;
  }
=======
body {
  background: #1b1b1b !important;
}
.mains{ 
  background-color: #1b1b1b !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 5in;
  text-shadow: #1b1b1b;
 
}
.signup{
  text-align: right;
  color: #ef8833 !important;
  padding-top: 10px;
  margin: 0;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
>>>>>>> e2c659a79ea0fb2ef5dea58da2bd241726a320b2
